In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
drug_dataset = pd.read_csv('drug200.csv')

In [3]:
drug_dataset.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   2            2   25.355     0
1   47    1   0            2   13.093     3
2   47    1   0            2   10.114     3
3   28    0  11            2    7.798     4
4   61    0   0            2   18.043     0

In [4]:
drug_dataset.isnull()

       Age    Sex     BP  Cholesterol  Na_to_K   Drug
0    False  False  False        False    False  False
1    False  False  False        False    False  False
2    False  False  False        False    False  False
3    False  False  False        False    False  False
4    False  False  False        False    False  False
..     ...    ...    ...          ...      ...    ...
195  False  False  False        False    False  False
196  False  False  False        False    False  False
197  False  False  False        False    False  False
198  False  False  False        False    False  False
199  False  False  False        False    False  False

[200 rows x 6 columns]

In [5]:
drug_dataset.shape

(200, 6)

In [6]:
drug_dataset['Drug'].value_counts()

0    91
4    54
1    23
3    16
2    16
Name: Drug, dtype: int64

In [7]:

X = drug_dataset.drop (columns='Drug',axis=1)
Y = drug_dataset['Drug']

In [8]:
print(X)

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   2            2   25.355
1     47    1   0            2   13.093
2     47    1   0            2   10.114
3     28    0  11            2    7.798
4     61    0   0            2   18.043
..   ...  ...  ..          ...      ...
195   56    0   0            2   11.567
196   16    1   0            2   12.006
197   52    1  11            2    9.894
198   23    1  11           11   14.020
199   40    0   0           11   11.349

[200 rows x 5 columns]

In [9]:
print(Y)

0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int64

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [11]:
print(X.shape, X_train.shape, X_test.shape)

(200, 5) (160, 5) (40, 5)

In [12]:
classifier = svm.SVC(kernel='linear')

In [13]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [14]:

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [15]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.925

In [16]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [17]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.8

In [18]:
input_data = (70,1,2,2,13.967)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Jenis Drug A')
elif (prediction[0] ==1):
    print('Jenis Drug B')
elif (prediction[0] ==2):
    print('Jenis Drug C')
elif (prediction[0] ==3):
    print('Jenis Drug X')
else :
    print('Jenis Drug Y')

[2]
Jenis Drug C

c:\Users\toriy\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [19]:
import pickle

In [20]:
import pickle
filename = 'drug_model.sav'
pickle.dump(classifier, open (filename, 'wb'))